extends layout

block body
  #chatroomapp 
    h2 Chatrooms
    #chatrooms

  script(src='js/lib/jquery.min.js')
  script(src='js/lib/underscore-min.js')
  script(src='js/lib/backbone-min.js')
  script(src='js/app.js')
  script(src='js/models/message.js')
  script(src='js/views/message.js')
  script(src='js/models/metaroom.js')
  script(src='js/views/metaroom.js')
  script(src='js/collections/chatroom.js')
  script(src='js/collections/chatrooms.js')
  script(src='js/views/chatroom.js')
  script(src='js/views/chatrooms.js')
