!!!
html()
  head
    meta(charset='utf8')
    base(href='/')
    title Chatrooms
    link(rel='stylesheet', href='/css/app.css')
    script(data-main='js/main', src='js/libs/require/require.js')
  body
    block body
