<!--<ul data-role="listview" data-divider-theme="b" data-inset="true" class="message ui-listview ui-listview-inset ui-corner-all ui-shadow">
</ul>
<form action="" method="POST">
	<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
			<label for="body" class="ui-input-text" style="">
					Body
			</label>
			<textarea name="body" id="body" placeholder="Write your message here" value="" type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"></textarea>
			<button>Send</button>
	</div>
</form>
-->
<div class="row-fluid">
		<div class="span8 offset2">
		</div>
</div>

<div class="row-fluid sendbox">
		<!--	<div class="span8 offset2"> -->
		<form action="" method="POST">
				<textarea name="body" id="body" placeholder="Write your message here" value="" type="text" autofocus="autofocus"></textarea>
				<button type="submit" class="hidden-phone hidden-tablet btn btn-success btn-large">Send</button>
		</div>
		<!--	</div> -->
</div>
