<ul data-role="listview" data-divider-theme="b" data-inset="true" class="message ui-listview ui-listview-inset ui-corner-all ui-shadow">
</ul>
<form action="" method="POST">
	<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
			<label for="body" class="ui-input-text" style="">
					Body
			</label>
			<textarea name="body" id="body" placeholder="Write your message here" value="" type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"></textarea>
	</div>
</form>
